body {
  font-family: 'Lato', sans-serif;
}
.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(65,80,119,0.78)), to(rgba(65,80,119,0.78))), url("../images/header.jpg");
  background-image: -webkit-linear-gradient(rgba(65,80,119,0.78), rgba(65,80,119,0.78)), url("../images/header.jpg");
  background-image: -o-linear-gradient(rgba(65,80,119,0.78), rgba(65,80,119,0.78)), url("../images/header.jpg");
  background-image: linear-gradient(rgba(65,80,119,0.78), rgba(65,80,119,0.78)), url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 0rem;
  height: 100%;
}
.header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.header p {
  color: #0eb193;
  font-weight: 400;
  line-height: 1.2;
}
.logo {
  height: 76px;
  width: auto;
}
.form-container {
  background-color: #0eb193;
}
.form-control {
  background-color: transparent;
  border-radius: 0rem;
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-ms-input-placeholder {
  color: #fff;
}
.form-control::placeholder {
  color: #fff;
}
.btn {
  border-radius: 0rem;
}
.btn-header {
  color: #0eb193;
  background-color: #fff;
  border-color: #fff;
  border-radius: 2px;
}
