@import 'stylesheet.styl'

$green = #0eb193
$purple = #415077

body
    font-family 'Lato', sans-serif

.header
    background-image linear-gradient(rgba(65, 80, 119, 0.78), rgba(65, 80, 119, 0.78)), url("../images/header.jpg")
    background-size cover
    background-position center center
    border-radius 0rem
    height 100%
    padding-bottom 1rem
    & h1
        color white
        font-family 'byombold'
        font-size 42px
        text-transform uppercase
        & .life
            font-family 'byomregular'
    & p
        color $green
        font-family 'byomregular'
        font-size 24px
        line-height 1.2
    & .info
        font-family 'byombold'
        font-size 14px
    & .flecha
        position absolute
        margin 5px 320px
        width 60px

.logo
    height 76px
    width auto

.form-container
    background-color $green

.form-control
    background-color transparent
    border-radius 0rem
    border 2px solid white
    color white
    font-family 'byomlight'
    padding 1.4rem .75rem
    width 100%

.form-control:focus
    color white
    background-color transparent
    border 2px solid white
    box-shadow none

.form-control::placeholder
    color white

.btn
    border-radius 0rem
    padding 0.75rem .75rem

.btn-header
    color $green
    background-color white
    border-color white
    border-radius 4px
    font-family 'byombold'

.content
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-edificio
        border solid 8px $green
    & .img-edificio
        height auto
        width 100%
    & .exclusivo-bg-color
        background-color $green
        color white
        line-height 1.2
        & .number
            font-family 'trackregular'
            font-size 67px
        & .exclusivos
            font-family 'byomlight'
            font-size 30px
            text-transform uppercase
        & .dpto
            font-family 'byombold'
            font-size 30px
            text-transform uppercase
        & .dsd
            color $purple
            font-family 'byomlight'
            font-size 24px
        & .mts
            color $purple
            font-family 'trackregular'
            font-size 24px
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-mapa
        border solid 8px $purple
    & .img-mapa
        height auto
        width 100%
    & .ubicacion-bg-color
        background-color $purple
        color white
        line-height 1.2

