@import 'stylesheet.styl'

$green = #0eb193
$purple = #415077

body
    font-family 'Lato', sans-serif

.header
    background-image linear-gradient(rgba(65, 80, 119, 0.78), rgba(65, 80, 119, 0.78)), url("../images/header.jpg")
    background-size cover
    background-position center center
    border-radius 0rem
    height 100%
    padding-bottom 1rem
    & h1
        color white
        font-family 'byombold'
        font-size 42px
        text-transform uppercase
        & .life
            font-family 'byomregular'
    & p
        color $green
        font-family 'byomregular'
        font-size 24px
        line-height 1.2
    & .info
        font-family 'byombold'
        font-size 14px
    & .flecha
        position absolute
        margin 20px 280px
        width 60px

.logo
    height 76px
    width auto

.header-icons
    & i
        color $green
    & .telf
        color $green
.icon-box-header-f,
.icon-box-header-w
    border solid 2px $green
    padding 5px

.form-container
    background-color $green

.form-control
    background-color transparent
    border-radius 0rem
    border 2px solid white
    color white
    font-family 'byomlight'
    padding 1.4rem .75rem
    width 100%

.form-control:focus
    color white
    background-color transparent
    border 2px solid white
    box-shadow none

.form-control::placeholder
    color white

.btn
    border-radius 0rem
    padding 0.75rem .75rem

.btn-header
    color $green
    background-color white
    border-color white
    border-radius 4px
    font-family 'byombold'

.content
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-edificio
        border solid 8px $green
    & .img-edificio
        height auto
        width 100%
    & .exclusivo-bg-color
        background-color $green
        color white
        line-height 1.2
        & .number
            font-family 'trackregular'
            font-size 67px
        & .exclusivos
            font-family 'byomlight'
            font-size 30px
            text-transform uppercase
        & .dpto
            font-family 'byombold'
            font-size 30px
            text-transform uppercase
        & .dsd
            color $purple
            font-family 'byomlight'
            font-size 24px
        & .mts
            color $purple
            font-family 'trackregular'
            font-size 24px
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-mapa
        border solid 8px $purple
    & .img-mapa
        height auto
        width 100%
    & .ubicacion-bg-color
        background-color $purple
        color white
        line-height 1.2
        & .mejor
            font-family 'byomlight'
            font-size 30px
            text-transform uppercase
        & .ubicacion
            font-family 'byombold'
            font-size 30px
            text-transform uppercase
        & .direccion
            color $green
            font-family 'byombold'
            font-size 18px
    & .mamparas-bg-color
        background-color $green
    & .mamparas-pre-text
        color white
        font-family 'byombold'
        font-size 16px
        text-transform uppercase
    & .mamparas-header
        color white
        font-family 'byomlight'
        font-size 30px
        text-transform uppercase
    & .mamparas-header-2
        color white
        font-family 'byombold'
        font-size 30px
        text-transform uppercase
    & .mamparas-text
        color white
        font-family 'byomregular'
        font-size 15px

.content-comprueba
    & .comprueba-text
        background-color $green
        color white
        & .siente, .comprueba
            font-family 'byombold'
            font-size 39px
            line-height 1.2
        & .materiales, .nuevo
            font-family 'byomregular'
            font-size 25px
            line-height 1.2
        & .services-title
            font-family 'byombold'
            font-size 21.92px
        & .services-text
            font-family 'byomregular'
            font-size 12px
    & .img-btn
        width 200.696px
        height auto

.beneficios
    & .box-beneficio
        border solid 2px $green
        height 100%
    & .img-beneficio
        background-color white
        height auto
        width 45px
        position absolute
        margin -46px -20px
    & .two
        color $purple
        font-family 'trackregular'
        font-size 23px
    & .estaciona
        color $green
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .por
        color $green
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .dptos
        color $green
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .ascensor
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .cocinas
        color $green
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .totalmente
        color $purple
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .equipadas
        color $purple
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .equipadas-text
        color $green
        font-family 'byomlight'
        font-size 12px
    & .salida
        color $purple
        font-family 'byombold'
        font-size 14px
    & .departamentos
        color $purple
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .acabados
        font-family 'byombold'
        font-size 14px
        text-transform uppercase
    & .calidad
        color $purple
        font-family 'byombold'
        font-size 14px
        text-transform uppercase

footer
    & p
        color #58595b
        font-family 'byombold'
        font-size 15.67px
    & .img-brand
        height auto
        width 124.674 px
    & .url-container
        border solid 1px #909190
        border-radius 4px
        padding 5px 5px 8px 5px
    & .url
        color red
        font-family 'byombold'
        font-size 14.47px
