@import 'stylesheet.css'

$green = #0eb193
$purple = #415077
$yellow = #e2b723

body
    font-family 'Lato', sans-serif

.__Gracias
    background-color $green
    color white
    font-family 'Lato', sans-serif
    height 100vh

@media (min-width: 576px)
    .jumbotron
        padding: 1rem 2rem

.header
    background-image linear-gradient(rgba(14, 177, 147, 0.77), rgba(14, 177, 147, 0.77)), url("../images/header.jpg")
    background-size cover
    background-position center center
    border-radius 0rem
    min-height 100%
    padding-bottom 1rem
    & h1
        color white
        font-family 'byomregular'
        text-transform uppercase
    & p
        color white
        font-family 'byomregular'
        font-size 24px
        line-height 1.2
    & .info
        font-family 'byombold'
        font-size 15px
    & .flecha
        position absolute
        margin -22px 295px
        width 70px

.logo
    height 80px
    width auto

.header-icons
    & a
        color white
        font-family 'byombold'
    & a:hover
        color white
        text-decoration underline
    & a:focus
        color white
    & a:active
        color white
    & i
        color white
    & .telf
        color white
        font-family 'Lato', sans-serif
        &:hover
            text-decoration none
.icon-box-header-f,
.icon-box-header-w
    border solid 1px white
    padding 5px
    &:hover
        text-decoration none

.__link-icon:hover
    text-decoration none !important

//Form
::placeholder
    font-size .5rem

.form-container
    background-color $yellow

.form-control
    background-color transparent
    border-radius 0rem
    border 2px solid white
    color white
    font-family 'trackregular'
    font-size 0.9em
    padding 1.4rem .75rem
    width 100%

.form-control:focus
    color white
    background-color transparent
    border 2px solid white
    box-shadow none

.form-control::placeholder
    color white

.btn
    border-radius 0rem
    padding 0.75rem .75rem

.btn-header
    color $yellow
    background-color white
    border-color white
    border-radius 4px
    font-family 'byombold'
    &:hover
        color $yellow

@media (max-width 576px) {
  .imput-box {
      margin-bottom 10px
  }  
}

.content
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-edificio
        border solid 8px $green
        padding-right 0px
        padding-left 0px
    & .icon-exclusivo-1
        height 60px
        width auto
    & .icon-exclusivo-2
        height 40px
        width auto
    & .img-edificio
        width auto
    & .exclusivo-bg-color
        background-color $green
        color white
        line-height 1.2
    & h1
        color $green
        font-family 'byomregular'
        font-size 30.24px
    & .border-img-mapa
        border solid 8px $yellow
        padding-left 0px
        padding-right 0px
    & .img-mapa
        height auto
        width 100%
    & .ubicacion-bg-color
        background-color $yellow
        color white
        line-height 1.2
    & .mamparas-bg-color
        background-color $green
    & .mamparas-pre-text
        color white
        font-family 'byombold'
        font-size 16px
        text-transform uppercase
    & .mamparas-header
        color white
        font-family 'byomlight'
        font-size 30px
        text-transform uppercase
    & .mamparas-header-2
        color white
        font-family 'byombold'
        font-size 30px
        text-transform uppercase
    & .mamparas-text
        color white
        font-family 'byomregular'
        font-size 15px

.content-comprueba
    & .comprueba-text
        background-color $green
        color white
        & .siente
            font-family 'byombold'
            font-size 35px
            line-height 1.2
        & .materiales, .nuevo
            font-family 'byomregular'
            font-size 25px
            line-height 1.2
        & .services-title
            font-family 'byombold'
            font-size 21.92px
        & .services-text
            font-family 'byomregular'
            font-size 14px
    & .img-btn
        cursor pointer
        width 200.696px
        height auto

.col-md-parejas
    padding-right 0px
    padding-left 0px

footer
    & p
        color #58595b
        font-family 'byombold'
        font-size 15.67px
    & .img-brand
        height auto
        width 124.674 px
    & .url-container
        border solid 1px #909190
        border-radius 4px
        padding 5px 5px 8px 5px
    & .url
        color red
        font-family 'byombold'
        font-size 14.47px
.modal-content
    background-color $green
    border none
    border-radius 0rem
    & .showroom-text
        color white
        font-family 'byombold'
        font-size 23px
        line-height 1.2

.modal-header
    border-bottom none

.close
    color white
    font-size 1.8rem

.font-track
    font-family 'trackregular'
    font-size 23px
    line-height 1.2

.font-track-2
    font-family 'trackregular'
    font-size 18px

.wsp-footer
    color $green
    font-size 1.3rem
    font-weight bold
    vertical-align initial

.phone
    color $green
    font-size 1rem
    font-weight bold

.email-footer
.web-footer
    color $yellow
    font-size 1rem
    font-weight bold

.link-footer
    color $green
    font-size 1rem
    font-weight bold

.float
	position fixed
	bottom 25px 
	right 25px
	text-align center